:root {
  --color-primary: rgb(0, 107, 255);
  --color-headings: rgb(11, 53, 88);
  --color-body: rgb(66, 84, 102);
  --color-body-lighter: rgb(71, 103, 136);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 100%;
}

html,
body {
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-family: "Gilroy-Bold", sans-serif;
  font-family: "Gilroy-Heavy", sans-serif;
  font-family: "Gilroy-Light", sans-serif;
  font-family: "Gilroy-Medium", sans-serif;
  font-family: "Gilroy-Regular", sans-serif;
  color: var(--color-body);
  font-size: 1.03rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.7px;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-headings);
  line-height: 1.4;
}

h1 {
  font-size: 3.125rem;
  font-weight: bold;
  margin-bottom: 24px;
}

h2 {
  font-size: 3.125rem;
  line-height: 1.4;
  margin-bottom: 24px;
}

h3 {
  font-size: 3.125rem;
}

h4 {
  font-size: 2.36875rem;
}

h5 {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 4.20875rem;
  }

  h3 {
    font-size: 2.36875rem;
  }
}
/* End of Typography */

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Links */
a {
  text-decoration: none;
}

.arrow-link {
  display: flex;
  align-items: center;
  line-height: 1.6;
}

.link-arrow {
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: 600;
  margin-right: 8px;
}

.arrow {
  color: var(--color-primary);
  width: 20px;
  height: 20px;
}
/* End of Links */

/* Buttons */
.btn {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 50px;
  letter-spacing: 0.5px;
  padding: 15px 20px;
  white-space: nowrap;
  text-align: center;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background-color: rgb(26, 87, 236);
}

.btn--outline {
  background-color: #fff;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}
/* End of Buttons */

/* Input-group */
.input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  height: 64px;
  outline: none;
  padding: 0 64px 0 32px;
  width: 100%;
}

.input-group {
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: 100%;
  height: 100%;
}

.input-group .input {
  border: 0;
}

.input:focus {
  border: 1px solid rgb(72, 177, 255);
  box-shadow: rgb(17 25 39 / 5%) 0px 1px 2px, rgb(244 235 255) 0px 0px 0px 4px;
}

.input:focus::placeholder {
  color: transparent;
}

.input-wrap {
  display: flex;
  margin: 10px;
}

.input-button {
  margin-left: 8px;
  margin-top: 0;
  font-size: 0.9rem;
}
/* End of Input-group */

/* Media Objects */
.media {
  display: flex;
}

.media__body {
  margin-left: 12px;
}

.media__image {
  margin-top: 3px;
}
/* Media Objects */

/* Plans */
.plan {
  border: 1px solid rgb(231, 237, 246);
  box-shadow: rgb(71 103 136 / 5%) 0px 6px 10px,
    rgb(71 103 136 / 4%) 0px 3.99006px 4.45557px;
  padding: 50px 35px;
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.plan__image {
  max-width: 450px;
  margin: 0 auto;
  display: block;
}

.plan__media {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
}

.plan__link {
  margin-left: 35px;
}
/* End of Plans */

/* Quotes */
.quote__text {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--color-headings);
  letter-spacing: 0;
  margin-bottom: 40px;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__image {
  margin-bottom: 15px;
}

.quote__image img {
  width: 150px;
}

.quote__author {
  margin-bottom: 40px;
}

.quote__author-name {
  font-size: 1.35rem;
}
/* End of Quotes */

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__image {
  height: 30px;
  width: 30px;
}

.collapsible__content {
  display: none;
}

.collapsible--expanded .collapsible__image {
  transform: rotate(90deg);
}

.collapsible--expanded .collapsible__content {
  display: block;
}
/* End of Collapsibles */
