:root {
  --color-primary: rgb(0, 107, 255);
  --color-headings: rgb(11, 53, 88);
  --color-body: rgb(66, 84, 102);
  --color-body-lighter: rgb(71, 103, 136);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

li {
  list-style: none;
}

/* Typography */
html {
  font-size: 100%;
}

html,
body {
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-family: "Gilroy-Bold", sans-serif;
  font-family: "Gilroy-Heavy", sans-serif;
  font-family: "Gilroy-Light", sans-serif;
  font-family: "Gilroy-Medium", sans-serif;
  font-family: "Gilroy-Regular", sans-serif;
  color: var(--color-body);
  font-size: 1.03rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-headings);
  /* line-height: 1.2; */
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span {
  color: var(--color-primary);
}

h1 {
  font-size: 4.20875rem;
  font-weight: 700;
  margin-top: 0;
}

h2 {
  font-size: 3.125rem;
  line-height: 1.4;
}

h3 {
  font-size: 2.36875rem;
}

h4 {
  font-size: 2.36875rem;
}

h5 {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 2.7rem;
  }

  h3 {
    font-size: 2.7rem;
  }
}
/* End of Typography */

/* .image {
  max-width: 00px;
  margin: 0 auto;
  display: block;
} */

img {
  width: 100%;
  object-fit: contain;
}

/* Links */
a {
  text-decoration: none;
}

.arrow-link {
  display: flex;
  align-items: center;
  line-height: 1.6;
}

.link-arrow {
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: 600;
  margin-right: 8px;
}

.arrow {
  color: var(--color-primary);
  width: 20px;
  height: 20px;
}
/* End of Links */

/* Buttons */
.btn {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 50px;
  letter-spacing: 0.5px;
  padding: 15px 20px;
  white-space: nowrap;
  text-align: center;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background-color: rgb(26, 87, 236);
}

.btn--outline {
  background-color: #fff;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}
/* End of Buttons */

/* Input-group */
.input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  height: 64px;
  outline: none;
  padding: 0 64px 0 32px;
  width: 100%;
}

.input-group {
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: 100%;
  height: 100%;
}

.input-group .input {
  border: 0;
}

.input:focus {
  border: 1px solid rgb(72, 177, 255);
  box-shadow: rgb(17 25 39 / 5%) 0px 1px 2px, rgb(244 235 255) 0px 0px 0px 4px;
}

.input:focus::placeholder {
  color: transparent;
}

.input-wrap {
  display: flex;
  width: 100%;
}

.input-button {
  margin-left: 8px;
  margin-top: 0;
  font-size: 0.9rem;
  padding: 10px 18px;
  font-size: 1.05rem;
}
/* End of Input-group */

/* Media Objects */
.media {
  display: flex;
}

.media__body {
  margin-left: 12px;
}

.media__image {
  margin-top: 3px;
}
/* Media Objects */

/* Plans */
.plan {
  border: 1px solid rgb(231, 237, 246);
  box-shadow: rgb(71 103 136 / 5%) 0px 6px 10px,
    rgb(71 103 136 / 4%) 0px 3.99006px 4.45557px;
  padding: 50px 35px;
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.plan__image {
  max-width: 450px;
  margin: 0 auto;
  display: block;
}

.plan__media {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
}

.plan__link {
  margin-left: 35px;
}
/* End of Plans */

/* Quotes */
.quote__text {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--color-headings);
  letter-spacing: 0;
  margin-bottom: 40px;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__image {
  margin-bottom: 15px;
}

.quote__image img {
  width: 150px;
}

.quote__author {
  margin-bottom: 40px;
}

.quote__author-name {
  font-size: 1.35rem;
}
/* End of Quotes */

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__image {
  height: 30px;
  width: 30px;
}

.collapsible__content {
  display: none;
}

.collapsible--expanded .collapsible__image {
  transform: rotate(90deg);
}

.collapsible--expanded .collapsible__content {
  display: block;
}
/* End of Collapsibles */

/* Block */
.block {
  padding: 0 40px;
  display: flex;
  justify-content: center;
  position: relative;
}

.block__heading {
  text-align: center;
}

.container {
  max-width: 1200px;
  padding-top: 0px;
  padding-bottom: 56px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .block {
    padding-left: 24px;
    padding-right: 24px;
  }
}
/*End of Block */

/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  position: relative;
}

.logo {
  width: 170px;
  height: 170px;
}

.nav-links {
  display: flex;
  gap: 45px;
}

.nav-links a,
.nav-log-in a {
  color: var(--color-headings);
  font-weight: bold;
  font-size: 0.95rem;
}

.nav-log-in {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-icon {
  width: 16px;
  cursor: pointer;
  display: none;
}

.nav-btn {
  padding: 13px 17px;
  font-size: 0.9rem;
  margin-top: 0;
}

.burger {
  display: none;
}

.burger div {
  width: 20px;
  height: 2.3px;
  background-color: #000;
  margin: 6px;
}

.burger .line2 {
  width: 15px;
}

@media screen and (max-width: 1200px) {
  .nav-icon {
    display: block;
  }

  .nav-log-in {
    gap: 6px;
  }

  .nav-log-in a {
    display: none;
  }

  .nav-links {
    gap: 20px;
  }
}

@media screen and (max-width: 990px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    top: 15vh;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    gap: 0;
  }

  .nav-links .nav-list {
    font-size: 1.125rem;
    line-height: 1.4;
    font-weight: bold;
    margin: 0px 24px;
    padding: 24px 0px;
    border-bottom: 1px solid rgb(231, 237, 246);
  }

  .nav-links .nav-header {
    border-bottom: 1px solid rgb(231, 237, 246);
    margin: 0px 24px;
    padding: 24px 0px;
  }

  .nav-links .collapsible__content {
    margin: 0px 24px;
    padding: 24px 0px;
  }

  .burger {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
  }
}

/* Navbar */

/* Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
}

.hero__content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-right: 64px;
  max-width: 520px;
  position: relative;
}

.hero__header {
  line-height: 1;
  text-align: left;
  line-height: 1.2;
  margin-bottom: 32px;
}

.hero__text {
  text-align: left;
  width: 100%;
  max-width: 770px;
}

.hero__statement {
  height: auto;
  margin-bottom: 32px;
}

.hero__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.hero__input-wrap {
  margin-bottom: 10px;
}

.hero__callout {
  max-width: 400px;
  font-size: 0.9rem;
}

.hero__image {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .hero {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0px;
    padding-right: 0px;
  }

  .hero__content {
    max-width: 100%;
    padding-right: 16px;
  }

  .hero__header {
    margin-bottom: 24px;
  }

  .hero__text {
    font-size: 1.1rem;
  }

  .hero__input {
    max-width: 520px;
    padding-bottom: 16px;
  }

  .hero__image {
    max-width: 630px;
    margin: 0 auto;
  }
}
/*End of Hero */

/* Simplified Scheduling */
.ss-container {
  padding-top: 96px;
  padding-bottom: 96px;
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
}

.simplifiedscheduling {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-bottom: 32px;
}

.ss__heading {
  margin-bottom: 72px;
  max-width: 770px;
  text-align: center;
  line-height: 1.4;
  font-weight: 700;
  font-size: 1.65rem;
}

#ss-logos {
  width: 100%;
  height: 100%;
  max-width: 1170px;
}

.ss-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 120px;
  width: 100%;
}

.ss-logo {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ss-logo img {
  display: block;
  width: 100%;
  height: 32px;
  max-width: 200px;
}

@media screen and (max-width: 992px) {
  .ss__heading {
    font-size: 2.125rem;
  }
}
/*End of Simplified Scheduling */

/* Testimonial */
#testimonial {
  background-color: rgb(247, 250, 255);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonial--container {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 1200px;
  width: 100%;
}

.testimonial {
  display: flex;
  width: 100%;
  align-items: center;
}

.testimonial__image {
  justify-content: flex-end;
  width: 50%;
  display: flex;
  max-width: 690px;
  max-height: 500px;
  height: auto;
}

.testimonial__content {
  width: 50%;
  padding-left: 112px;
}

@media screen and (max-width: 992px) {
  #testimonial .block {
    padding-left: 24px;
    padding-right: 24px;
  }

  .testimonial {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .testimonial__image {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: auto;
    max-width: 100%;
  }

  .testimonial__image img {
    max-width: 450px;
  }

  .testimonial__content {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: auto;
    max-width: 100%;
  }
}

/*End of Testimonial */
