<section id="hero" class="block">
  <div class="container">
    <div class="hero">
      <div class="hero__content">
        <h1 class="hero__header">
          Easy scheduling <span class="color">ahead</span>
        </h1>
        <div class="hero__text">
          <p class="hero__statement">
            Calendly is your scheduling automation platform for eliminating the
            back-and-forth emails for finding the perfect time — and so much
            more.
          </p>
          <div class="hero__input">
            <div class="input-wrap hero__input-wrap">
              <div class="input-group">
                <input
                  type="email"
                  name=""
                  id=""
                  class="input"
                  placeholder="Enter your email"
                />
              </div>
              <button class="btn btn--primary input-button">Sign up</button>
            </div>
            <p class="hero__callout">
              Create your free account. No credit card required.
            </p>
          </div>
        </div>
      </div>
      <div class="hero__image image">
        <img src="images/Homepage-Hero-new.webp" alt="" />
      </div>
    </div>
  </div>
</section>
