<section id="integrations" class="block">
  <div class="container2">
    <div class="integrations">
      <div class="integrations__body">
        <h2 class="integrations__heading">Integrations and Extensions</h2>
        <div class="integrations__text">
          <p>
            Boost productivity with integrations that fold right into your
            workflow.
          </p>
          <div class="integrations__btn">
            <a href="#" class="btn btn--primary">Explore integrations</a>
          </div>
        </div>
      </div>
      <div class="integrations__image">
        <img src="images/Integrations-Calendly__1_.webp" alt="" />
      </div>
    </div>
  </div>
</section>
