<div class="plan">
  <div class="card">
    <div class="plan__image">
      <img src="images/sales-guy.webp" alt="" />
    </div>
    <div class="plan__body">
      <div class="plan__media">
        <div class="media">
          <div class="media__image">
            <img src="images/Revenue.svg" alt="" />
          </div>
          <div class="media__body">
            <h5>Drive more revenue</h5>
            <p>
              Book high-value meetings in seconds and turn scheduling into a
              competitive advantage.
            </p>
          </div>
        </div>
        <div class="media">
          <div class="media__image">
            <img src="images/Revenue.svg" alt="" />
          </div>
          <div class="media__body">
            <h5>Drive more revenue</h5>
            <p>
              Book high-value meetings in seconds and turn scheduling into a
              competitive advantage.
            </p>
          </div>
        </div>
        <div class="media">
          <div class="media__image">
            <img src="images/Revenue.svg" alt="" />
          </div>
          <div class="media__body">
            <h5>Drive more revenue</h5>
            <p>
              Book high-value meetings in seconds and turn scheduling into a
              competitive advantage.
            </p>
          </div>
        </div>
      </div>
      <div class="plan__link">
        <div class="arrow-link">
          <a href="#" class="link-arrow">Learn more</a>
          <svg
            class="arrow"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="5" y1="12" x2="19" y2="12"></line>
            <polyline points="12 5 19 12 12 19"></polyline>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
