<section id="simplifiedscheduling" class="block">
      <div class="ss-container">
        <div class="simplifiedscheduling">
          <h5 class="ss__heading">
            Simplified scheduling for more than <span>10,000,000</span> users
            worldwide
          </h3>
          <div id="ss-logos">
            <div class="ss-logos">
              <div class="ss-logo">
                <img src="images/EBay_logo.svg" alt="">
              </div>
              <div class="ss-logo">
                <img src="images/zenefits-logo.svg" alt="">
              </div>
              <div class="ss-logo">
                <img src="images/Compass__2_.svg" alt="">
              </div>
              <div class="ss-logo">
                <img src="images/Twilio-logo-red.svg" alt="">
              </div>
              <div class="ss-logo">
                <img src="images/Dropbox_logo_2017__1_.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>